*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; padding: 0; border: 0;
  font: inherit;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Roboto";
}

@import './variables.scss';
@import './mixins.scss';
@import './story.scss';

@import './root.scss';
@import './app.scss';
@import './modal.scss';
@import './new-video-form.scss';
@import './language-select-form.scss';
@import './settings.scss';
