$grey-0: #fff;
$grey-05: #FAFAFA;
$grey-1: #F5F5F5;
$grey-2: #EEEEEE;
$grey-3: #E0E0E0;
$grey-4: #BDBDBD;
$grey-5: #9E9E9E;
$grey-6: #757575;
$grey-7: #616161;
$grey-8: #424242;
$grey-9: #212121;

$col-x: #e1ffed;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
